<section class="hero-section" style="background-image:url('{{ hero_background }}');">
  <div class="hero-content">
    <h1>{{ title }}</h1>
    <p class="hero-subtitle">{{ hero_subtitle }}</p>
    <a href="{{ site.url }}/donate" class="button primary-button">Donate Now</a>
  </div>
</section>
